.checkout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--half-size);
}

.checkout>div {
    height: min-content;
}

.item>img {
    max-width: 30%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.total {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .checkout {
        grid-template-columns: 1fr;
    }
}

#payment-form {
    margin-top: var(--half-size);
}

#payment-message {
    margin-top: var(--half-size);
    text-align: center;
    color: var(--secondary);
}