footer {
    width: 100%;
    border-top: 4px solid var(--cta);
    justify-content: space-between;
    align-items: center;
    padding: var(--half-size) var(--full-size);
    display: flex;
    flex-shrink: 0;
    z-index: 10;
    background-color: var(--primary);
}

.footer-section {
    display: flex;
    gap: var(--half-size);
}

.special-link {
    color: var(--cta);
}

@media screen and (max-width: 1024px) {
    footer {
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    .align-right {
        text-align: right;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    #footer-1 {
        order: 2;
    }

    #footer-2 {
        order: 1;
        width: 100%;
        justify-content: space-between;
        margin-bottom: var(--half-size);
    }

    #footer-3 {
        order: 3;
    }
}