.hero {
    background-image: url('../assets/icons/hero.png');
    background-position: top;
    background-size: cover;
    height: calc(60vh - 86px);
    width: 100%;
    border-bottom: var(--quarter-size) solid var(--cta);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-info {
    width: 768px;
    max-width: 95vw;
    background-color: var(--primary);
    box-shadow: 0 0 10px 0 var(--tertiary);
    padding: var(--half-size);
    border-radius: var(--half-size);
}

.hero-info>h1 {
    font-size: 3rem;
    margin-bottom: var(--quarter-size);
}

.hero-info>.btn {
    max-width: 400px;
    margin-inline: auto;
}

@media screen and (max-width: 768px) {
    .hero {
        height: calc(70vh - 56px);
    }

    .hero-info>h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 425px) {
    .hero {
        height: calc(80vh - 56px);
    }
}