.hero {
    background-image: url(https://gvg-backend.herokuapp.com/images/hero-bg.png);
    background-position: right;
    background-size: cover;
    height: calc(60vh - 86px);
    width: 100%;
    border-bottom: var(--quarter-size) solid var(--cta);
    display: flex;
    align-items: center;
    padding-left: var(--full-size);
    justify-content: center;
    position: relative;
}

.hero-info {
    width: 768px;
    max-width: 90vw;
    background-color: #ecececea;
    padding: var(--half-size);
    border-radius: var(--half-size);
}

.hero-info>h1 {
    font-size: 3rem;
    margin-bottom: var(--quarter-size);
}

.hero-info>.btn {
    max-width: 400px;
    margin-top: var(--half-size);
}

.container {
    max-width: calc(1280px - var(--full-size) * 2);
    width: 100%;
}

.hero-scroll>p {
    color: var(--primary);
}

@media screen and (max-width: 768px) {
    .hero {
        height: calc(60vh - 56px);
    }

    .hero-info>h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 425px) {
    .hero {
        height: calc(80vh - 56px);
    }
}