/* VARIABLES */
:root {
    /* Colors */
    --primary: #fff;
    --secondary: #474647;
    --secondary-svg: invert(26%) sepia(8%) saturate(79%) hue-rotate(251deg) brightness(90%) contrast(85%);
    --tertiary: #949294;
    --cta: #16A093;
    --cta-hover: #14907f;
    --cta-svg: invert(43%) sepia(83%) saturate(390%) hue-rotate(125deg) brightness(101%) contrast(99%);
    --tertiary-svg: invert(66%) sepia(6%) saturate(70%) hue-rotate(251deg) brightness(88%) contrast(87%);

    /* Fonts */
    --font-family: 'Roboto', sans-serif;
    --font-size: 20px;
    --font-16: calc(var(--font-size) * 0.8);
    --font-18: calc(var(--font-size) * 0.9);
    --font-20: var(--font-size);
    --font-25: calc(var(--font-size) * 1.25);
    --font-40: calc(var(--font-size) * 2);
    --font-size-small: var(--font-size);

    /* Sizing */
    --quarter-size: calc(var(--font-size) * 0.25);
    --half-size: calc(var(--font-size) * 0.5);
    --full-size: var(--font-size);
    --double-size: calc(var(--font-size) * 2);
    --icon-size: 30px;
}

/* CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

#root {
    min-height: 100vh;
    min-height: 100dvh;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select,
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    border: none;
}

input:focus,
button:focus,
textarea:focus,
select:focus,
a:focus {
    outline: none;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* CLASS SHORTCUTS */
.font-one {
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-40);
    color: var(--tertiary);
    margin: var(--full-size) 0;
    line-height: 1;
}

.font-two {
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-25);
    color: var(--secondary);
}

.font-three {
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-20);
    color: var(--secondary);
}

.font-four {
    font-size: var(--font-18);
    color: var(--secondary);
    font-weight: normal;
}

.font-five {
    font-size: var(--font-16);
    color: var(--tertiary);
    font-weight: normal;
}

.flex {
    display: flex;
    gap: var(--half-size);
}

.flex-end {
    display: flex;
    gap: var(--half-size);
    justify-content: flex-end;
}

.flex-column {
    display: flex;
    gap: var(--half-size);
    flex-direction: column;
}

.flex-between {
    display: flex;
    gap: var(--half-size);
    justify-content: space-between;
    align-items: end;
}

/* STYLES */
html {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-image: url(https://gvg-backend.herokuapp.com/images/gvg-bg.png);
    background-position: center;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    filter: var(--secondary-svg);
}

#root {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#0000, var(--primary));
    align-items: center;
}

.page {
    padding: 0 var(--full-size) var(--full-size) var(--full-size);
    flex: 1;
    max-width: 1280px;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .page {
        padding-inline: var(--half-size);
    }
}

input,
textarea,
select {
    width: 100%;
    color: var(--secondary);
    border-radius: var(--half-size);
    padding-inline: var(--half-size);
    border: 2px solid var(--secondary);
}

input::placeholder {
    color: var(--tertiary);
}

.tile {
    background-color: var(--primary);
    border-radius: var(--half-size);
    padding: var(--half-size);
    box-shadow: 0 0 10px 0 var(--tertiary);
    overflow: hidden;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    opacity: 0.5;
    z-index: -2;
}

.btn {
    background-color: var(--cta);
    color: var(--primary);
    border-radius: var(--half-size);
    padding: var(--quarter-size) var(--half-size);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--cta-hover);
}

.btn:active,
.product-tile:active,
.navbar-item:active {
    transform: scale(0.98);
}

.icon:active {
    transform: scale(0.9);
}

.navbar-item:hover {
    color: var(--cta-hover);
}

.btn-naked {
    background-color: transparent;
    font-size: var(--font-16);
    color: var(--cta);
    cursor: pointer;
}

.special-link {
    color: var(--cta);
    cursor: pointer;
}

.tile .tile {
    box-shadow: none;
}

.cta {
    color: var(--cta);
    filter: var(--cta-svg);
}

.center {
    text-align: center;
}

.back {
    display: flex;
    align-items: center;
    gap: var(--quarter-size);
    margin-top: var(--quarter-size);
    margin-bottom: -0.3rem;
    cursor: pointer;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading>:nth-child(1) {
    animation: spin 2s ease-in-out infinite;
    width: 20vh;
}

@keyframes spin {
    50% {
        transform: scaleX(0);
    }

    0%,
    100% {
        transform: scaleX(-1);
    }
}

.pop {
    /* Animation that runs once */
    animation: pop 0.5s ease-in-out;
}

@keyframes pop {
    50% {
        transform: scale(1.4);
    }
}