/* NAVBAR */
nav {
    z-index: 10;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: var(--primary);
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: var(--half-size) var(--full-size);
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-right {
    position: relative;
}

.navbar-menu {
    justify-content: center;
}

.navbar-offer {
    background-color: var(--cta);
    color: var(--primary);
    font-size: var(--font-16);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.nav-left>:nth-child(1) {
    display: none;
}

.logo {
    width: 100px;
    height: 38px;
}

@media screen and (max-width: 768px) {
    .nav-left>:nth-child(1) {
        display: block;
    }

    .navbar-menu>* {
        display: none;
    }
}

/* MENU */
.side-menu {
    padding: var(--half-size);
    background-color: var(--primary);
    position: absolute;
    bottom: 100;
    width: 100%;
    border-radius: 0 0 var(--half-size) var(--half-size);
}

/* SEARCH */
.search {
    background-color: var(--primary);
    position: absolute;
    bottom: 100;
    width: 100%;
    border-radius: 0 0 var(--half-size) var(--half-size);
}

.search>input {
    width: 100%;
    border-radius: 0 0 var(--half-size) var(--half-size);
    padding: var(--half-size) var(--full-size);
    text-align: center;
    border: none;
}

/* LOGIN */
.login-status {
    width: 11px;
    height: 6px;
    background-color: var(--cta);
    border-radius: 50% 50% 0 0;
    position: absolute;
    bottom: 0px;
    left: 9.75px;
    z-index: 1;
    pointer-events: none;
}

.login, .basket {
    background-color: var(--primary);
    position: absolute;
    bottom: 100;
    right: 0;
    width: 350px;
    margin: var(--full-size);
    border-radius: var(--half-size);
    padding: var(--half-size);
}

.register {
    justify-content: space-between;
}

#register {
    color: var(--cta);
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .login, .basket {
        margin: 0;
        width: 100%;
        border-radius: 0 0 var(--half-size) var(--half-size);
    }
}

/* BASKET */
.basket-header {
    align-items: baseline;
    justify-content: space-between;
}

.basket-list {
    max-height: 50vh;
    overflow-y: auto;
}

.basket-item {
    align-items: center;
}

.basket-item>:last-child {
    margin-left: auto;
    width: 25px;
}

.basket-item>img {
    width: 25%;
    border-radius: var(--half-size);
}

.basket-item>.icon {
    filter: var(--tertiary-svg)
}

.basket-quantity {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: var(--cta);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.basket-quantity>p {
    color: var(--primary);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-right: 1px;
}