/* NAVBAR */
nav {
    z-index: 10;
    position: sticky;
    width: 100%;
    top: 0;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: var(--half-size) var(--full-size);
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-menu {
    justify-content: center;
}

.navbar-offer {
    background-color: var(--cta);
    color: var(--primary);
    font-size: var(--font-16);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.nav-left>:nth-child(1) {
    display: none;
}

.logo {
    width: 100px;
}

@media screen and (max-width: 768px) {
    .nav-left>:nth-child(1) {
        display: block;
    }

    .navbar-menu>* {
        display: none;
    }
}

/* MENU */
.side-menu {
    padding: var(--full-size);
    background-color: var(--primary);
    position: absolute;
    bottom: 100;
    width: 100%;
    border-radius: 0 0 var(--half-size) var(--half-size);
}

.side-menu-items>*,
.side-menu-footer>* {
    border-bottom: 2px solid var(--cta);
}

.side-menu-items>*:last-child,
.side-menu-footer>*:last-child {
    border-bottom: none;
}

/* SEARCH */
.search {
    background-color: var(--primary);
    position: absolute;
    bottom: 100;
    width: 100%;
    border-radius: 0 0 var(--half-size) var(--half-size);
}

.search>input {
    width: 100%;
    border-radius: 0 0 var(--half-size) var(--half-size);
    padding: var(--half-size) var(--full-size);
    text-align: center;
}