/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(199px, 1fr));
    grid-gap: var(--half-size);
}

.product-tile {
    display: grid;
    grid-template-rows: min-content auto;
    max-width: 330px;
    cursor: pointer;
}

.product-tile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-tile-details {
    justify-content: space-between;
    align-items: baseline;
}

@media screen and (max-width: 480px) {
    .product-tile {
        max-width: 100%;
    }
}

/* PRODUCT */
.product {
    display: grid;
    gap: var(--half-size);
}

@media screen and (min-width: 768px) {
    .product {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content 1fr;
    }

    #product-image {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        height: min-content;
    }

    #product-info {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        height: min-content;
    }

    #product-description {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
    }

    #product-review {
        grid-column: 1 / 2;
        grid-row: 3 / 6;
        height: min-content;
    }

    #product-related {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        height: min-content;
    }
}

@media screen and (min-width: 1024px) {
    .product {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: min-content min-content 1fr;
    }

    #product-image {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        height: min-content;
    }

    #product-info {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: min-content;
    }

    #product-description {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
        height: min-content;
    }

    #product-review {
        grid-column: 1 / 2;
        grid-row: 3 / 6;
        height: min-content;
    }

    #product-related {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        height: min-content;
    }
}

.related-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
}

.desc {
    overflow: hidden;
}

.more {
    margin-top: var(--half-size);
    text-align: center;
}

.review-item {
    margin-bottom: var(--full-size);
}