/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(199px, 1fr));
    grid-gap: var(--half-size);
}

.product-tile {
    display: grid;
    grid-template-rows: min-content auto;
    max-width: 330px;
    cursor: pointer;
}

.product-tile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-tile-details {
    justify-content: space-between;
    align-items: baseline;
}

@media screen and (max-width: 480px) {
    .product-tile {
        max-width: 100%;
    }
}

/* PRODUCT */
.product {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--half-size);
}

.related-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
}

.desc {
    overflow: hidden;
    height: 300px;
}

.expand {
    height: auto;
}

.more {
    margin-top: var(--half-size);
    text-align: center;
}