/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(199px, 1fr));
    grid-gap: var(--half-size);
}

.product-tile {
    display: grid;
    grid-template-rows: min-content auto;
    max-width: 300px;
    cursor: pointer;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-details {
    justify-content: space-between;
    align-items: baseline;
}

/* PRODUCT */
.product {
    margin-top: var(--double-size);
    display: grid;
    grid-template-areas:
        'image info'
        'image description';
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 1fr;
    align-items: start;
    grid-gap: var(--half-size);
}

.product-images {
    grid-area: image;
}

.product-info {
    grid-area: info;
}

.product-description {
    grid-area: description;
}