:root {
    /* Colors */
    --primary: #fff;
    --secondary: #474647;
    --secondary-svg: invert(26%) sepia(8%) saturate(79%) hue-rotate(251deg) brightness(90%) contrast(85%);
    --tertiary: #949294;
    --cta: #16A093;
    --fade: #47464780;

    /* Fonts */
    --font-family: 'Roboto', sans-serif;
    --font-size: 20px;
    --font-16: calc(var(--font-size) * 0.8);
    --font-18: calc(var(--font-size) * 0.9);
    --font-20: var(--font-size);
    --font-25: calc(var(--font-size) * 1.25);
    --font-50: calc(var(--font-size) * 2.5);
    --font-size-small: var(--font-size);

    /* Sizing */
    --quarter-size: calc(var(--font-size) * 0.25);
    --half-size: calc(var(--font-size) * 0.5);
    --full-size: var(--font-size);
    --double-size: calc(var(--font-size) * 2);
    --icon-size: 30px;
}

/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

/* Dqefaults page size to fullscreen */
#root {
    min-height: 100vh;
    min-height: 100dvh;
}

/* Add accessible line-height & Improve text rendering */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select,
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    border: none;
}

input:focus,
button:focus,
textarea:focus,
select:focus,
a:focus {
    outline: none;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*. Create a root stacking context */
#root,
#__next {
    isolation: isolate;
    height: 100%;
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-image: url(./assets/gvg-bg.png);
    background-position: center;
}

.flex {
    display: flex;
    gap: var(--half-size);
}

.flex-column {
    display: flex;
    gap: var(--half-size);
    flex-direction: column;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    filter: var(--secondary-svg);
}

#root {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#0000, var(--primary));
}

.page {
    margin-inline: var(--full-size);
    flex: 1;
}

.overlay {
    position: fixed;
    bottom: 100;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    opacity: 0.5;
    z-index: -1;
}

.btn {
    background-color: var(--cta);
    color: var(--primary);
    border-radius: var(--half-size);
    padding: var(--quarter-size) var(--half-size);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.font-one {
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-50);
    color: var(--tertiary);
}

.font-two {
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-25);
    color: var(--secondary);
}

.font-three {
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-20);
    color: var(--secondary);
}

.font-four {
    font-size: var(--font-18);
    color: var(--secondary);
}

.font-five {
    font-size: var(--font-16);
    color: var(--tertiary);
}